In [12]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, " \
            "life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), " \
            "didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing " \
            "really matters."

In [17]:
import re

#print(len(string_01)-string_01.count(' '))

#string_to_list = string_01.split(' ')
#print(len(string_to_list))

string_02 = re.sub(r'[^\w\s\']', '', string_01)
#print(string_02)

def find_words_end_with(letter):
    string_to_list = string_02.split(' ')
    for word in string_to_list:
        if word.endswith(letter):
            print(word)
            
#find_words_end_with('d')

def find_words_start_with(letter):
    string_to_list = string_02.split(' ')
    for word in string_to_list:
        if word.startswith(letter.lower()) or word.startswith(letter.upper()):
            print(word)
            
find_words_start_with('m')

Mama
man
my
Mama
Mama
mean
make
matters

In [21]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [18]:
import random

number = ''
while'3' not in number:
    number = ''.join([str(random.randint(0,9)) for i in range(6)])

print(number)

#some_list = ()
#for i in range(6):
#    a = str(random.randint(0,9))
 #   some_list.append(a)

593401

In [22]:
sum_from_list = 0
for item in list_01:
    if 10 < item < 100:
        sum_from_list += item
print(sum_from_list)

212

In [23]:
students = [
    ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009", "БСТ161"],
    ["1102", "Богов", "Артем", "Игоревич", "25.01.2010", "БСТ162"],
    ["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
    ["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
    ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
    ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
    ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"],
    ["0309", "Шафутинский", "Михаил", "Михайлович", "03.09.2007", "БСТ163"]
            ]

In [24]:
students_dict = dict()
for item in students:
    students_dict[item[0]] = item[1:]
    
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [26]:
def change_group(student_number, new_group):
    students_dict[student_number][4] = new_group
    
change_group('0001', 'PDYA2020')

print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'PDYA2020'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [29]:
def print_students(group):
    for student in students_dict.values():
        if student[-1] == group:
            print(student[0], student[1], student[2])
            
print_students('БСТ161')

Степанова Наталья Александровна
Боков Игорь Харитонович

In [31]:
import numpy as np

matrix = [
    [0, 1, 2, 4, 8],
    [6, 2, 2, 1, 9],
    [3, 3, 3, 3, 3],
    [4, 6, 7, 1, 2],
    [5, 7, 3, 4, 0]
        ]

In [34]:
print(np.sum(matrix))
print(max(np.sum(matrix, axis = 0)))

89
22

In [36]:
print(sum(sum(item) for item in matrix))

print(max([sum(col) for col in zip(*matrix)]))

89
22