# Домашнее задание к лекции "Библиотека Pandas"

# Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('ratings.csv')
data1.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
data2 = data1[data1['rating'] == 5.0]
data2['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [4]:
data4 = pd.read_csv('movies.csv')

data5 = data4[data4.movieId == 318]
data5
data5.filter(items = ['title'])

                                title
277  Shawshank Redemption, The (1994)

# Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [5]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [6]:
#data['country'].unique()

baltic = data[(data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia')]

baltic_category = baltic[(baltic['category'] == 4) | (baltic['category'] == 12) | (baltic['category'] == 21)]

baltic_quantity = baltic_category[(baltic_category['quantity'] == 4) | (baltic_category['quantity'] == 12) | (baltic_category['quantity'] == 21) & (baltic_category['quantity'] > 0)]

baltic_year = baltic_quantity[(baltic_quantity['year'] >= 2005) & (baltic_quantity['year'] <= 2010)]

baltic_year['quantity'].sum()

25.0

# Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [7]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
data3 = pd.read_html(page_url, attrs = {'class':'quote_list'}, encoding = 'utf-8')
data3[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       929407      -               922986
 1          NaN            EUR/RUB       855178      -               846285
 2          NaN            USD/RUB       788925      -               782900
 3          NaN            JPY/RUB        07077      -                07047
 4          NaN            CNY/RUB       110948      -               110847
 5          NaN            CHF/RUB       804986      -               798085
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        10832      -                10810
 8          NaN            EUR/GBP        09198      -                09170
 9          NaN            EUR/JPY      1208280      -              1201200
 10         NaN            EUR/CHF        10606      -                10603
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        09232      -                09250
 13         NaN            USD/GBP        08492      -                08483
 14         NaN            USD/JPY      1115440      -              1111200
 15         NaN            USD/CHF        09789      -                09809
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00076      -                00076
 19         NaN            JPY/USD        00090      -                00090
 20         NaN    JPY/CHF (100:1)        08800      -                08800
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        11777      -                11788
 23         NaN            GBP/JPY      1313342      -              1309840
 24         NaN            GBP/EUR        10872      -                10906
 25         NaN            GBP/CHF        11531      -                11560
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11531      -                11560
 28         NaN            EUR/CHF        10606      -                10603
 29         NaN    JPY/CHF (100:1)        08800      -                08800
 30         NaN            USD/CHF        09789      -                09809
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       302798      -               300866
 33         NaN            USD/UAH       279553      -               278309
 34         NaN            CHF/UAH       285550      -               283700
 35         NaN            GBP/UAH       329202      -               328099

           %  Абсолютное значение     Время
 0    0,70 %                06421  19:14:00
 1    1,05 %                08893  19:20:00
 2    0,77 %                06025  19:20:00
 3    0,43 %                00030  19:13:00
 4    0,09 %                00101  19:20:00
 5    0,86 %                06901  19:13:00
 6         %  Абсолютное значение     Время
 7    0,20 %                00022  19:20:00
 8    0,30 %                00027  19:20:00
 9    0,59 %                07080  19:20:00
 10   0,03 %                00003  19:20:00
 11        %  Абсолютное значение     Время
 12  -0,19 %               -00018  19:20:00
 13   0,11 %                00009  19:13:00
 14   0,38 %                04240  19:20:00
 15  -0,20 %               -00020  19:20:00
 16        %  Абсолютное значение     Время
 17  -0,58 %                00000  19:13:00
 18  -0,25 %                00000  19:13:00
 19  -0,37 %                00000  19:13:00
 20  -0,53 %                00000  19:20:00
 21        %  Абсолютное значение     Время
 22  -0,09 %               -00011  19:20:00
 23   0,27 %                03502  19:14:00
 24  -0,31 %               -00034  19:20:00
 25  -0,25 %               -00029  19:20:00
 26        %  Абсолютное значение     Время
 27  -0,25 %               -00029  19:20:00
 28   0,03 %                00003  19:20:00
 29  -0,53 %                00000  19:20:00
 30  -0,20 %               -00020  19:20:00
 31        %  Абсолютное значение     Время
 32   0,64 %                01932  19:13:00
 33   0,45 %                01244  19:13:00
 34   0,65 %                01850  19:20:00
 35   0,34 %                01103  19:13:00  ]

In [ ]:
page_url_1 = 'https://fortrader.org/quotes'
df_1 = pd.read_html(page_url_1, attrs = {'class':'t'}, encoding = 'utf-8')
dF_1[:5]